body {
  background: rgb(38, 34, 48);
  color: #fff;
}

.navbar {
  border-bottom: #ac8a2c 3px solid;
  opacity: 0.8;
}

#home-section {
 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 200px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 200px;
  background: rgba(9, 3, 15, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-head-section {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1200px;
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.bg-one {
  background-color: rgb(65, 161, 161);
  border: 2px solid green;
  }

  table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 4px;
}


.alert {
  margin-bottom: 0rem !important;
}

.form-container{
  border: 2px solid green;
  padding: 40px;
  
}

p {
  font-size: 25px;
  color: bisque;
}

#Budget-head-section{
 /* background: url('https://media.gettyimages.com/photos/macro-coins-stack-picture-id1033407190?k=20&m=1033407190&s=612x612&w=0&h=8qRVusqKOO7mSldpvQs53FfnnupipRKPleCzIZofRnU=');*/
 background-image: url(/img/budget.jpg);
 background-repeat: no-repeat;
background-size: 100% 100%;
  background-color: rgb(71, 76, 76);
  height: 1080px;
}

#exprow{
margin-top: 10px;
}